*.DS_Store
node_modules
package-lock.json
*.iml
data.json
.obsidian/plugins/obsidian-activity-history/data.json
.obsidian/plugins/obsidian-commits/data.json
.obsidian/workspace.json
./cym.bib
01-proj/.DS_Store
02-mat/.DS_Store
.obsidian/graph.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/recent-files-obsidian/
.obsidian/workspace
.obsidian/plugins/execute-code/data.json
.obsidian/app.json
.obsidian/workspace/
.obsidian/plugins/execute-code/data.json
.obsidian/graph.json
.obsidian/core-plugins.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-commits/data.json
.obsidian/workspace.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/workspace.json
.obsidian/workspace.json